Django
django-cors-headers
django-crispy-forms
django-dotenv
django-model-utils
djangorestframework
djangorestframework-simplejwt
gunicornDjango
django-filter
django-rest-swagger
drf-flex-fields
drf-yasg
